.dropzone-container {
  padding-top: 20px;

  aside {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    margin-bottom: 10px;
  }

  .select-image {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
  }

  .thumbs-header {
    margin-bottom: 10px;
    gap: 20px;
  }

  .thumbs-div {
    img {
      max-width: 400px;
      max-height: 400px;
    }
  }

  .icon-close {
    width: 20px;
    cursor: pointer;
  }
}
